<div class="island">
    <div class="island-hd">
        <h2 class="hdg hdg_1">
            Resend confirmation instructions
        </h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="island-bd">
            <div class="vr_3">
                <%= f.error_notification %>
                <%= f.full_error :confirmation_token %>
            </div>

            <div class="vr_3">
                <div class="form-group mix-form-group_full">
                    <%= f.label :email, class: "u-isVisuallyHidden" %>
                    <%= f.input_field :email,
                        required: true,
                        autofocus: true,
                        placeholder: "Email address",
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                        class: "input-text"
                    %>
                </div>
                <div class="form-group mix-form-group_full">
                    <%= f.error :email, id: "error_email" %>
                </div>
            </div>

            <div class="form-group mix-form-group_full">
                <%= f.button :submit, "Resend confirmation instructions", class: 'btn-submit mix-btn_inverse mix-btn_full' %>
            </div>
        </div>
    <% end %>

    <div class="island-ft">
        <ul class="hlist hlist-divided">
            <li>
                <%= link_to "Log in", new_session_path(resource_name), class: "link" %>
            </li>
            <li>
                <%= link_to "Sign up", new_registration_path(resource_name), class: "link" %>
            </li>
            <li>
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link" %>
            </li>
        </ul>
    </div>
</div>



