<% if order_item.item_id != nil %>
    <li class="<%= order_item.list_item_classnames %>">
        <div class="orderItem-action">
            <form>
                <%= check_box_tag order_item.id, true, order_item.picked, class: "input-checkbox u-isVisuallyHidden js-orderItem-action-value"%>
                <label
                    class="input-label_checkbox js-orderItem-action"
                    for="<%= order_item.id%>"
                    data-order-item-id="<%= order_item.id %>"
                    data-csrf="<%= form_authenticity_token %>"
                >
                    <% order_item.picked %>
                </label>
            </form>
        </div>
        <div class="orderItem-content">
            <div class="orderItem-hd">
                <div class="orderItem-hd-content">
                    <h2 class="hdg hdg_2">
                        <%= order_item.item.name %>
                    </h2>
                </div>
                <% if order_item.qty > 1 %>
                    <div class="orderItem-hd-supplement">
                        <h3>
                            <span class="txt-light">Qty:</span> <%= order_item.qty %>
                        </h3>
                    </div>
                <% end %>
                <div>
                    <button
                        type="submit"
                        class="icon-btn js-orderItem-remove"
                        data-order-item-id="<%= order_item.id %>"
                        data-csrf="<%= form_authenticity_token %>"
                    >
                        <span class="icon icon-trashcan"></span>
                    </button>
                </div>
            </div>
            <% if order_item.assembly_id != nil %>
                <div class="orderItem-bd">
                    <%= order_item.assembly.name %>
                </div>
            <% end %>
            <div class="orderItem-ft">
                <%= order_item.department.name %>
            </div>
        </div>
    </li>
<% end %>
