<% if order_item.item_id != nil %>
    <li
        class="<%= order_item.list_item_classnames %>"
    >
        <div class="orderItem-action">
            <form>
                <%= check_box_tag order_item.item.name, true, order_item.picked, class: "input-checkbox u-isVisuallyHidden js-orderItem-action-value"%>
                <label
                    class="input-label_checkbox js-orderItem-action"
                    for="<%= order_item.id%>"
                    data-order-item-id="<%= order_item.id %>"
                    data-csrf="<%= form_authenticity_token %>"
                >
                    <% order_item.picked %>
                </label>
            </form>
        </div>
        <div class="orderItem-content">
            <div class="orderItem-hd">
                <h2 class="hdg hdg_2">
                    <%= order_item.item.name %>
                </h2>
            </div>
            <% if order_item.assembly_id != nil %>
                <div class="orderItem-bd">
                    <%= order_item.assembly.name %>
                </div>
            <% end %>
            <div class="orderItem-ft">
                <ul class="stereo">
                    <li>
                        <%= order_item.department.name %>
                    </li>
                    <li>
                        <button
                            type="submit"
                            class="js-orderItem-remove"
                            data-order-item-id="<%= order_item.id %>"
                            data-csrf="<%= form_authenticity_token %>"
                        >
                            Remove
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </li>
<% end %>
