
<%= simple_form_for(@department) do |f| %>
    <div class="vr_2">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-group">
            <%= f.input :name, :input_html => { :class => 'input-text' } %>
        </div>
    </div>

    <%= f.button :submit, :class => 'btn btn-submit'  %>
<% end %>
