<p id="notice"><%= notice %></p>

<h1 class="hdg hdg_1">Orders</h1>

<ul class="card">
    <% @orders.each do |order| %>
        <li>
            <div>Location: <%= link_to order.location.name, order %></div>
            <div>Qty: <%= order.order_items.size %></div>
            <div>Status: <%= order.status %></div>

            <ul class="hlist">
                <li>
                    <%= link_to 'Edit', edit_order_path(order.id) %>
                </li>
                <li>
                    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            </ul>
        </li>
    <% end %>

    <li>
        <%= link_to 'New Order', new_order_path, class: "link" %>
    </li>
</ul>
