<p id="notice"><%= notice %></p>

<h1 class="hdg hdg_1">Orders</h1>

<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Qty</th>
            <th>Status</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= link_to order.location.name, order %></td>
                <td><%= order.order_items.size %></td>
                <td><%= order.status %></td>
                <td><%= link_to 'Edit', edit_order_path(order.id) %> |</td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Order', new_order_path %>
