<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Orders</h1>
    </li>
    <li>
        <%= link_to 'New Order', new_order_path, class: "link" %>
    </li>
</ul>

<ul class="card">
    <% @orders.each do |order| %>
        <li>
            <%= link_to order, class: 'card-link' do %>
                <div>
                    <%= order.zero_padded_day %>
                </div>
                <div>
                    <%= order.month_name %>
                </div>
                <% if order.location != nil %>
                    <div>
                        <%= order.location.name %>
                    </div>
                <% end %>
                <!--
                <div>Status: <%= order.status %></div>
                -->
            <% end %>
        </li>
    <% end %>
</ul>
