<h1 class="hdg hdg_1">Orders</h1>

<ul class="card">
    <% @orders.each do |order| %>
        <li>
            <div>
                <%= order.zero_padded_day %>
            </div>
            <div>
                <%= order.month_name %>
            </div>
            <div><%= link_to order.location.name, order %></div>
            <!--
            <div>Status: <%= order.status %></div>
            -->
        </li>
    <% end %>

    <li>
        <%= link_to 'New Order', new_order_path, class: "link" %>
    </li>
</ul>
