<p id="notice"><%= notice %></p>

<p>
    <strong>Created At:</strong>
    <%= @order.created_at %>
</p>
<p>
    <strong>Status:</strong>
    <%= @order.status %>
</p>
<!-- temporary -->
<p>
    <strong>Order Items:</strong>
    <% if @order.order_items != nil %>
        <ul>
            <% @order.order_items.each do |order_item| %>
                <li>
                    <div><%= order_item.item.name %></div>
                    <%= order_item.item.department.name %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <div>No Items to display</div>
    <% end %>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
