<div class="vr_1">
    <ul class="stereo">
        <li>
            <h1 class="hdg hdg_1">Order</h1>
        </li>
        <li>
            <ul class="hlist hlist-divided">
                <li>
                    <%= link_to 'Back', orders_path %>
                </li>
                    <% if @order.status != 'pending' %>
                        <li>
                            <%= link_to 'Duplicate', order_duplicate_path(@order), method: :post %>
                        </li>
                    <% end %>
                <li>
                    <%= link_to 'Edit', edit_order_path(@order) %>
                </li>
                <li>
                    <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="orderMeta">
    <div>
        Shopping Date: <%= @order.order_date %>
    </div>
    <div>
        Status: <%= @order.status %>
    </div>
    <% if @order.location %>
        <div>
            Location: <%= @order.location.name %>
        </div>
    <% end %>
</div>

<%= react_component(
    'FilterBar',
    items: [
        {
            text: 'Item',
            url: order_path,
        },
        {
            text: 'Department',
            url: order_path(order: 'department'),
        },
        {
            text: 'Meal',
            url: order_path(order: 'assembly'),
        }
    ]
) %>

<div class="js-orderItem ">
    <% if @order_items_by_concern == nil %>
        <ul class="vlist">
            <% @order.order_items.each do |order_item| %>
                <%= react_component(
                    'OrderItemContainer',
                    csrf: form_authenticity_token,
                    orderItemId: order_item.id,
                    qty: order_item.qty,
                    itemName: order_item.item.name,
                    editItemUrl: edit_item_path(order_item.item.id),
                    departmentName: order_item.department.name,
                    assemblyName: order_item.assembly_name_or_null,
                    isPicked: order_item.picked
                ) %>
            <% end %>
        </ul>
    <% end %>

    <% if @order_items_by_concern != nil %>
        <% @order_items_by_concern.each do |key, order_items| %>
            <div class="concernGroup">
                <% if key == nil && @should_show_non_grouped %>
                    <div class="concernGroup-hd">
                        <h2>Not Grouped</h2>
                    </div>
                <% elsif key != nil %>
                    <div class="concernGroup-hd">
                        <h2>
                            <%= key.name%>
                                <% if @order.live? %>
                                    <%= link_to 'Delete', order_assembly_path(@order.id, key.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                            </span>
                        </h2>
                    </div>
                <% end %>

                <ul class="vlist">
                    <% order_items.each do |order_item| %>
                        <%= react_component(
                            'OrderItemContainer',
                            csrf: form_authenticity_token,
                            orderItemId: order_item.id,
                            qty: order_item.qty,
                            itemName: order_item.item.name,
                            editItemUrl: edit_item_path(order_item.item.id),
                            departmentName: order_item.department.name,
                            assemblyName: order_item.assembly_name_or_null,
                            isPicked: order_item.picked
                        ) %>
                    <% end %>
                </ul>
            </div>
        <% end %>
    <% end %>
</div>
