<div class="vr_1">
    <ul class="stereo">
        <li>
            <h1 class="hdg hdg_1">Single Order</h1>
        </li>
        <li>
            <ul class="hlist">
                <li>
                    <%= link_to 'Back', orders_path %> |
                </li>
                <li>
                    <%= link_to 'Edit', edit_order_path(@order) %> |
                </li>
                <li>
                    <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="vr_2">
    <ul class="stereo">
        <li>
            <div class="orderMeta">
                <div>
                    Created At: <%= @order.created_at %>
                </div>
                <div>
                    Status: <%= @order.status %>
                </div>
                <div>
                    Location: <%= @order.location.name %>
                </div>
            </div>
        </li>
        <li>
            <ul class="stereo">
                <!-- FIXME: this is hacky and icky -->
                <li></li>
                <li>
                    <select name="sortOrder" id="sortOrder">
                        <option value="">Sort Order</option>
                        <option value="">---</option>
                        <option value="Abc">Abc</option>
                        <option value="Department">Department</option>
                        <option value="Meal">Meal</option>
                    </select>

                </li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <ul class="vlist">
        <% @order.order_items.each do |order_item| %>
            <% if order_item.item_id != nil %>
                <li class="orderItem">
                    <div class="orderItem-hd">
                        <ul class="stereo">
                            <li>
                                <h2 class="hdg hdg_2">
                                    <%= order_item.item.name %>
                                </h2>
                            </li>
                            <li>
                                <%= order_item.picked %>
                            </li>
                        </ul>
                    </div>
                    <div class="orderItem-ft">
                        <ul class="stereo">
                            <li>
                                <%= order_item.department.name %>
                                <% if order_item.assembly_id != nil %>
                                    <span class="orderItem-ft_aside">
                                        <%= order_item.assembly.name %>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <button type="submit">Remove</button>
                            </li>
                        </ul>
                    </div>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>
