<p id="notice"><%= notice %></p>

<p>
    <strong>Created At:</strong>
    <%= @order.created_at %>
</p>
<p>
    <strong>Status:</strong>
    <%= @order.status %>
</p>
<!-- temporary -->
<p>
    <strong>Order Items:</strong>
    <ul>
        <% @order.order_items.each do |order_item| %>
            <li>
                <% if order_item.assembly_id != nil %>
                    <h2><%= order_item.assembly.name %></h2>
                    <span><button type="submit">Remove</button></span>
                    <ul>
                        <% order_item.assembly.items.each do |assembly_item| %>
                            <li>
                                <h3><%= assembly_item.name %></h3>
                                <div><%= assembly_item.department.name %></div>
                                <div><button type="submit">Remove Item</button></div>
                            </li>
                        <% end %>
                    </ul>
                <% end %>

                <% if order_item.item_id != nil %>
                    <h2><%= order_item.item.name %></h2>
                    <div><%= order_item.item.department.name %></div>
                    <div><button type="submit">Remove</button></div>
                <% end %>
            </li>
        <% end %>
    </ul>
</p>
<%= link_to 'Back', orders_path %>
