<li class="js-item">
    <div class="listItem mix-listItem_flex">
        <div class="listItem-content">
            <div class="listItem-hd">
                <h2 class="hdg hdg_2">
                    <%= link_to item.name, edit_item_path(item) %>
                </h2>
            </div>
            <div class="listItem-ft">
                <%= item.department.name %>
            </div>
        </div>
        <div class="listItem-action">
            <form class="js-item-createOrderItemForm">
                <ul class="hlist mix-hlist_spacious">
                    <li>
                        <label class="mix-label_subdued" for="item-<%= item.id %>-qty">Qty</label>
                        <input type="number" id="item-<%= item.id %>-qty" name="item-<%= item.id %>-qty" min="0" value="1" />
                    </li>
                    <li>
                        <input
                            type="submit"
                            value="Add to order"
                            class="js-item-action"
                            data-item-id="<%= item.id %>"
                            data-item-name="<%= item.name %>"
                            data-department-id="<%= item.department.id %>"
                            data-csrf="<%= form_authenticity_token %>"
                        />
                    </li>
                </ul>
            </form>
        </div>
    </div>
</li>
