<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Items</h1>
    </li>
    <li>
        <%= link_to 'New Item', new_item_path %>
    </li>
</ul>

<ul class="vlist">
    <% @items.each do |item| %>
        <li>
            <div class="listItem">
                <div class="listItem-hd">
                    <h2 class="hdg hdg_2">
                        <%= link_to item.name, edit_item_path(item) %>
                    </h2>
                    <ul class="hlist">
                        <li>
                            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </li>
                        <li>
                            <%= simple_form_for @order_item, url: order_items_create_item_path, method: :post do |form| %>
                                <%= form.hidden_field :item_id, value: item.id %>
                                <%= form.hidden_field :department_id, value: item.department.id %>
                                <%= form.submit "Add to order" %>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <div class="listItem-ft">
                    <%= item.department.name %>
                </div>
            </div>
        </li>
    <% end %>
</ul>
