<%= render partial: "shared/flyoutable_with_form", locals: { flyoutable: @item } %>
<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Items</h1>
    </li>
    <li>
        <button class="js-flyout-trigger">New Item</button>
    </li>
</ul>
<ul class="filterBar">
    <li>
        <%= link_to "Alpha", items_path, class: 'filterBar-link' %>
    </li>
    <li>
        <%= link_to "Department", items_path(order: 'department'), class: 'filterBar-link' %>
    </li>
</ul>
<% if @items_by_concern == nil %>
    <ul class="vlist">
        <% @items.each do |item| %>
            <%= render partial: "list_item", locals: { item: item } %>
        <% end %>
    </ul>
<% else %>
    <% @items_by_concern.each do |department, department_items| %>
        <div class="concernGroup">
            <div class="concernGroup-hd">
                <h2><%= department.name %></h2>
            </div>

            <ul class="vlist">
                <% department_items.each do |item| %>
                    <%= render partial: "list_item", locals: { item: item } %>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
