<% if notice %>
    <div id="notice"><%= notice %></div>
<% end %>

<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Items</h1>
    </li>
    <li>
        <%= link_to 'New Item', new_item_path %>
    </li>
</ul>


<ul class="vlist">
    <% @items.each do |item| %>
        <li>
            <div class="listItem">
                <div><%= link_to item.name, edit_item_path(item) %></div>
                <div><%= item.department.name %></div>
                <div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                <div>
                    <%= simple_form_for @order_item, url: order_items_create_path, method: :post do |form| %>
                        <%= form.hidden_field :item_id, value: item.id %>
                        <%= form.submit "Add to order" %>
                    <% end %>
                </div>
            </div>
        </li>
    <% end %>
</ul>
