<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Department:</strong>
  <%= @item.department.name %>
</p>

<ul class="hlist hlist-divided">
    <li>
        <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <li>
        <%= link_to 'Edit', edit_item_path(@item) %> |
    </li>
    <li>
        <%= link_to 'Back', items_path %>
    </li>
</ul>
