<li>
    <div class="listItem">
        <div class="listItem-hd">
            <h2 class="hdg hdg_2 js-accordionList-trigger" data-accordion-item-id="<%= assembly_index %>">
                <%= assembly.name %>
            </h2>
            <div>
                <%= simple_form_for @order_item, url: order_items_create_assembly_path, method: :post do |form| %>
                    <%= form.hidden_field :assembly_id, value: assembly.id %>
                    <%= form.submit "Add to order" %>
                <% end %>
            </div>
        </div>
        <div class="listItem-ft">
            <div class="stereo">
                <div>
                    Items: <%= assembly.items.count %>
                </div>
                <div>
                    <%= link_to 'Edit Assembly', edit_assembly_path(assembly), class: "link" %>
                </div>
            </div>
        </div>
    </div>
    <% if assembly.items.length > 0 %>
        <ul class="vlist vlist-short js-accordionItemList-<%= assembly_index %> u-isVisuallyHidden">
            <% assembly.items.each_with_index do |item, item_index| %>
                <li class="listItem listItem-child">
                    <div class="listItem-hd">
                        <h3 class="hdg">
                            <%= item.name %>
                        </h3>
                    </div>
                    <div class="listItem-ft">
                        <ul class="stereo">
                            <li>
                                <%= item.department.name %>
                            </li>
                            <li>
                                <form>
                                    <button
                                        type="submit"
                                        class="js-addAssemblyItemToOrder"
                                        data-assembly-id="<%= assembly.id %>"
                                        data-assembly-item-id="<%= item.id %>"
                                        data-department-id="<%= item.department.id %>"
                                        data-csrf="<%= form_authenticity_token %>"
                                    >
                                        Add Item to order
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            <% end %>
        </ul>
    <% end %>
</li>
