<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Assemblies</h1>
    </li>
    <li>
        <%= link_to 'New Assembly', new_assembly_path %>
    </li>
</ul>

<ul class="vlist js-assemblyList">
    <% @assemblies.each_with_index do |assembly, assembly_index| %>
        <li>
            <div class="listItem js-assemblyList-trigger" data-assembly-item-id="<%= assembly_index %>">
                <div class="listItem-hd">
                    <h2 class="hdg hdg_2">
                        <%= link_to assembly.name, edit_assembly_path(assembly) %>
                    </h2>
                    <div>
                        <%= simple_form_for @order_item, url: order_items_create_assembly_path, method: :post do |form| %>
                            <%= form.hidden_field :assembly_id, value: assembly.id %>
                            <%= form.submit "Add to order" %>
                        <% end %>
                    </div>
                </div>
                <div class="listItem-ft">
                    Items: <%= assembly.items.count %>
                </div>
            </div>
            <% if assembly.items.length > 0 %>
                <ul class="js-asemblyItemList-<%= assembly_index %> u-isVisuallyHidden">
                    <% assembly.items.each_with_index do |item, item_index| %>
                        <li>
                            <div>
                                item_index: <%= item_index %>
                            </div>
                            <div>
                                <%= item.id %>
                            </div>
                            <div>
                                <%= item.name %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </li>
    <% end %>
</ul>
