<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Assemblies</h1>
    </li>
    <li>
        <%= link_to 'New Assembly', new_assembly_path %>
    </li>
</ul>

<ul class="vlist">
    <% @assemblies.each do |assembly| %>
        <li>
            <div class="listItem">
                <div class="listItem-hd">
                    <h2 class="hdg hdg_2">
                        <%= link_to assembly.name, edit_assembly_path(assembly) %>
                    </h2>
                    <div>
                        <%= simple_form_for @order_item, url: order_items_create_assembly_path, method: :post do |form| %>
                            <%= form.hidden_field :assembly_id, value: assembly.id %>
                            <%= form.submit "Add to order" %>
                        <% end %>
                    </div>
                </div>
                <div class="listItem-ft">
                    Items: <%= assembly.items.count %>
                </div>
            </div>
        </li>
    <% end %>
</ul>
