<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Locations</h1>
    </li>
    <li>
        <%= link_to 'New Location', new_location_path %>
    </li>
</ul>
<ul class="vlist">
    <% @locations.each do |location| %>
        <li class="listItem">
            <div class="listItem-hd">
                <ul class="stereo">
                    <li>
                        <%= link_to location.name, edit_location_path(location) %>
                    </li>
                    <li>
                        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </li>
                </ul>
            </div>
            <div class="listItem-ft">
                <!-- FIXME: move to model -->
                <%= location.city %>, <%= location.state %>
            </div>
        </li>
    <% end %>
</ul>

